body {
    margins: 10px 100px;
}

/* .container { */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-content: flex; */
    /* max-width: auto; */
/* } */

.links-container {
    display: flex;
    margin: 0 auto;
    width: auto;
    justify-content: space-around;
    background-color: cornflowerblue;
    padding: 35px;
}

.header {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    padding: 40px 60px 220px 700px;
    max-width: 100%;
    height: 80px;
    background-image: url(header.jpeg);
    background-position: 0 auto;
    margin-block-start: 0em;
    margin-block-end: 1em;
    background-size: 1200px;
}

#sarah {
    font-size: 60px;
    font-style: italic;
    color: rgba(220, 238, 238, 0.925);
    text-shadow: -5px 5px 0 #3a3838;
    margin: 0px;
}

.links {
    padding: 1rem;
    border-radius: .25rem;
    color: purple;
    font-size: 30px;
}

.familypic-container {
    max-width:100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-block-start: 1em;
    background-color: darkgray;
    scroll-margin-block-end: 1em;
}
img {
    width: 30%;
    height: 95%;
}

.heading {
    max-width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 0em;
    margin-block-end: 10px;
    background-color: darkgray;
    font-size: 12px;
    font-style: italic;
}