body {
    margins: 10px 100px;
}

/* .container { */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-content: flex; */
    /* max-width: auto; */
/* } */

.links-container {
    display: flex;
    margin: 0 auto;
    width: auto;
    justify-content: space-around;
    background-color: cornflowerblue;
    padding: 35px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 140px;
    background-image: url(header.jpeg);
    max-width: 100%;
    height: auto;
    background-position: 0 auto;
    margin-block-start: 0em;
}

#sarah {
    font-size: 100px;
    font-style: italic;
    color: rgb(188, 207, 14);
    text-shadow: -0px 10px 0 #000000;
}

.links {
    padding: 1rem;
    border-radius: .25rem;
    color: purple;
    font-size: 30px;
}